<div class="container">
  <div class="row title-row">
    <div class="col-12 title-col">
      Dashboard
    </div>
    <div class="col-12 title-col">
      <a (click)="showGP()">Show Group Chat</a>
    </div>
  </div>
  <div class="row content-row">
    <div class="col-2 content-name-col">
      Name
    </div>
    <div class="col-2 content-count-col">
      Message Count
    </div>
  </div>
  <div class="row content-row">
    <div class="col-2 content-name-col">
      <img class="profile-img" src="../../assets/app-assets/profile.svg">
    </div>
    <div class="col-2 content-count-col">
      <div>101</div>
    </div>
  </div>
  <div class="row content-row">
    <div class="col-2 content-name-col">
      <img class="profile-img" src="../../assets/app-assets/profile.svg">
    </div>
    <div class="col-2 content-count-col">
      <div>220</div>
    </div>
  </div>
</div>